html, body{
    height: 80vh;
    width: 85%;
    margin: 0 auto;
    background-color: #0b111a;
}



.container-whoami{
    margin-top: 40px;
    justify-content: center;
    background-color: #141f2e;
    border-radius: 20px;

    .name{
        font-family: 'Poppins',sans-serif;
        margin: 0 auto;
        padding: 10px;
        font-size: 70px;
        font-weight: 300;
        color: white;
        user-select: none;
        text-align: center;

        #gradient{
            background: linear-gradient(rgb(184, 241, 12), rgb(8, 163, 224));
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 700;
        }
    }
}

.container-whoami:hover{
    transition: 1s;
    animation:  border-box-aboutme 5s ease infinite;
}

.aboutme{
    width: 60%;
    font-family: 'DM Sans',sans-serif;
    font-size: 22px;
    color: azure;
    padding: 0 0 60px 80px;
    text-align: left;
}



@keyframes border-box-aboutme {
    0% {
        transform: scale(1);
        border: 1px solid rgba(62, 238, 74, 0.499);
    }
    50% {
        transform: scale(1);
        border: 1px solid rgba(42, 172, 223, 0.499);
    }
    100% {
        transform: scale(1);
        border: px solid rgba(68, 238, 79, 0.499);
         
    }
}









