html, body{
    display: flex;
    background-color: #2b6effc1;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    background-color: transparent;
    text-shadow: -10px 10px 20px #112b63 ;
    color: white;
    font-family: 'Luckiest Guy',monospace;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 300;

    #prefix{
        font-size: 90px;
        margin-right: 40px;
    }
    #number{
        letter-spacing: 5px;
        font-size: 100px;
    }
}




